<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<!--
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
-->
<link rel="import" href="shared-styles.html">


<dom-module id="financial-dashboard">


  <template>
  <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }
    .wrapper-btns {
      margin-top: 15px;
    }
    paper-button.link {
      color: #757575;
    }

    </style>

<!--
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
-->
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <brum-global-variable key="accountData" value="{{storedAccount}}"></brum-global-variable>

    <app-location route="{{route}}"
        data="{{routeData}}"></app-location>

    <iron-ajax
      auto
      id="getAccountsByCustomerId"
      method="get"
      url="http://localhost:3000/apitechu/v1/accounts/{{storedUser.customerId}}"
      handle-as="json"
      last-response="{{ajaxResponse}}">
    </iron-ajax>

    <div class="card">
      <div class="wrapper-btns">
        <paper-button raised class="primary" on-click="createAccount">Contratar Cuenta</paper-button>
      </div>
    </div>

    <template is="dom-repeat" items="[[ajaxResponse]]" as="account">
      <div class="card">
        <table>
          <tr>
            <td style="width:600px">
              <h1>{{account.description}}</h1>
              <p><strong>{{account.accountNumber}}</strong></p>
              <p>{{account.type}}</p>
              <paper-button raised class="primary" on-click="listTransactions" data-args$="[[account._id.$oid]],[[account.accountNumber]]">Ver los movimientos</paper-button>
              <paper-button raised class="primary" on-click="createTransaction" data-args$="[[account._id.$oid]],[[account.accountNumber]]">Realizar un movimiento</paper-button>
            </td>
            <td align="right" style="width:150px">
              <template is="dom-if" if="{{isPositive(account.balance)}}">
                <h1 style="color:blue;">{{formatMoney(account.balance)}} €</h1>
              </template>
              <template is="dom-if" if="{{!isPositive(account.balance)}}">
                <h1 style="color:red;">{{formatMoney(account.balance)}} €</h1>
              </template>
            </td>
          </tr>
        </table>
      </div>
    </template>


  </template>


  <script>
    class FinancialDashboard extends Polymer.Element {
      static get is() { return 'financial-dashboard'; }
      static get properties() {
          return {
              formData: {
                  type: Object,
                  value: {}
              },
              storedUser: Object,
              storedAccount: Object,
              error: String
          }
      }
      static get observers() {
          return [
              "_onRouteChanged(route.*)",
              "_onDataChanged(routeData.*)",
          ];
      }
      _onDataChanged(newValue) {
          console.log("Data page changed: " + JSON.stringify(newValue));
      }
      _onRouteChanged(newValue) {
          console.log("Route page changed: " + JSON.stringify(newValue));
          this.$.getAccountsByCustomerId.generateRequest();
      }
      createAccount(event){
        console.log("createAccount - Init");
        this.set('route.path', '/new-account' );
        console.log("createAccount - End");
      }
      createTransaction(event){
        console.log("createTransaction - Init");
        var args = event.target.getAttribute('data-args').split(",");
        console.log("accountId: " + args[0]);
        console.log("accountNumber: " + args[1]);
        this.storedAccount = {
             accountId: args[0],
             accountNumber: args[1]
        };
        this.set('routeData.accountNumber', args[1]);
        this.set('route.path', '/new-transaction' );
        console.log("createTransaction - End");
      }
      listTransactions(event){
        console.log("listTransactions - Init");
        var args = event.target.getAttribute('data-args').split(",");

        this.storedAccount = {
             accountId: args[0],
             accountNumber: args[1]
        };

        console.log("accountId: " + args[0]);
        console.log("accountNumber: " + args[1]);

        this.set('route.path', '/transaction-dashboard/'+args[0] );
        // reset form data
        this.formData = {};
        console.log("listTransaction - End");
      }
      isPositive(amount){
        var positive = true;
        if (amount<0){
          positive = false;
        }
        return Boolean(positive);
      }
      formatMoney(amount, decimalCount = 2, decimal = ",", thousands = ".") {
        try {
          decimalCount = Math.abs(decimalCount);
          decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

          const negativeSign = amount < 0 ? "-" : "";

          let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
          let j = (i.length > 3) ? i.length % 3 : 0;

          return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
        } catch (e) {
          console.log(e)
        }
      }
      onSubmit(){
        console.log("Entro en submit");
      }
    }

    window.customElements.define(FinancialDashboard.is, FinancialDashboard);

  </script>


</dom-module>
