<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="log-out">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <br></br>
      <br></br>
      <br></br>
      <h1 style="text-align:center;">¡Hasta pronto!</h1>
      <p style="text-align:center;">La deconexión se ha realizado correctamente.</p>
      <br></br>
      <br></br>
      <br></br>
    </div>
  </template>

  <script>
    class LogOut extends Polymer.Element {
      static get is() { return 'log-out'; }
    }

    window.customElements.define(LogOut.is, LogOut);
  </script>
</dom-module>
