<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="register-login.html">
<link rel="lazy-import" href="financial-dashboard.html">
<link rel="lazy-import" href="transaction-dashboard.html">
<link rel="lazy-import" href="new-customer.html">
<link rel="lazy-import" href="new-account.html">
<link rel="lazy-import" href="new-transaction.html">
<link rel="lazy-import" href="not-found.html">

<link rel="import" href="log-out.html">

<dom-module id="my-app">

  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        display: block;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }
      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }
      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      .drawer-list {
        margin: 0 20px;
      }
      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }
      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      app-header .greeting,
      app-header a {
        color: #fff;
        font-size: 18px;
      }
      app-header .greeting {
        border-right: 1px solid rgba(255,255,255,.5);
        display: inline-block;
        padding-right: 6px;
        font-size: 18px;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

<!--
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
-->
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <brum-global-variable key="accountData" value="{{storedAccount}}"></brum-global-variable>

    <app-drawer-layout fullbleed narrow="{{narrow}}">

      <iron-ajax
        id="LogoutAjax"
        method="post"
        content-type="application/json"
        handle-as="json">
      </iron-ajax>

      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Banco TechU</div>

            <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
                <a style="font-size:18px;" name="register-login" href="[[rootPath]]register-login" hidden$="[[storedUser.loggedin]]">Entrar</a>
            </div>

            <template is="dom-if" if="[[storedUser.loggedin]]">
              <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
                <span style="font-size:18px;" hidden$="[[!storedUser.loggedin]]">Hola [[storedUser.userId]]! </span>
                <a style="font-size:18px;" href="#" on-click="logout">Desconectar</a>
              </div>
            </template>

          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="not-found"
            role="main">
          <wellcome-app name="wellcome-app"></wellcome-app>
          <register-login name="register-login"></register-login>
          <financial-dashboard name="financial-dashboard"></financial-dashboard>
          <transaction-dashboard name="transaction-dashboard"></transaction-dashboard>
          <new-customer name="new-customer"></new-customer>
          <new-account name="new-account"></new-account>
          <new-transaction name="new-transaction"></new-transaction>
          <log-out name="log-out"></log-out>
          <not-found name="not-found"></not-found>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
      class MyApp extends Polymer.Element {
          static get is() { return 'my-app'; }
          static get properties() {
              return {
                  page: {
                      type: String,
                      reflectToAttribute: true,
                      observer: '_pageChanged',
                  },
                  routeData: Object,
                  subroute: String,
                  // This shouldn't be neccessary, but the Analyzer isn't picking up
                  // Polymer.Element#rootPath
                  rootPath: String,
                  storedUser: Object,
                  storedAccount: Object
              };
          }
          static get observers() {
              return [
                  '_routePageChanged(routeData.page)',
              ];
          }
          _routePageChanged(page) {
              // If no page was found in the route data, page will be an empty string.
              // Default to 'view1' in that case.
              this.page = page || 'log-out';
              // Close a non-persistent drawer when the page & route are changed.
//              if (!this.$.drawer.persistent) {
//                  this.$.drawer.close();
//              }
          }
          _pageChanged(page) {
              // Load page import on demand. Show 404 page if fails
              var resolvedPageUrl = this.resolveUrl(page + '.html');
              console.log("Pruebas: " + page);
              Polymer.importHref(
                  resolvedPageUrl,
                  null,
                  this._showPage404.bind(this),
                  true);
          }
          _showPage404() {
              this.page = 'not-found';
          }
          logout(){
            console.log("logout - Init");
            this.$.LogoutAjax.url = 'http://localhost:3000/apitechu/v1/logout' + "/" + this.storedUser.userId;
            this.$.LogoutAjax.body = JSON.stringify({});
            this.$.LogoutAjax.generateRequest();
            this.storedUser = {
                 customerId: "",
                 userId: "",
                 loggedin: Boolean(false)
            };
           // redirect to main page
           this.set('route.path', '/my-app');
           this.formData = {};
            console.log("logout - End");
          }
      }
      window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
