
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">

<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">


<!--
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
-->
<link rel="import" href="shared-styles.html">

<dom-module id="new-transaction">
  <template>
  <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }
    .wrapper-btns {
      margin-top: 15px;
    }
    paper-button.link {
      color: #757575;
    }
    .alert-error {
      background: #ffcdd2;
      border: 1px solid #f44336;
      border-radius: 3px;
      color: #333;
      font-size: 14px;
      padding: 10px;
    }
    input {
      position: relative; /* to make a stacking context */
      outline: none;
      box-shadow: none;
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 100%;
      background: transparent;
      border: none;
      color: var(--paper-input-container-input-color, var(--primary-text-color));
      -webkit-appearance: none;
      text-align: inherit;
      vertical-align: bottom;
      /* Firefox sets a min-width on the input, which can cause layout issues */
      min-width: 0;
      @apply --paper-font-subhead;
      @apply --paper-input-container-input;
    }
  </style>


    <iron-ajax
      id="CreateTransactionAjax"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="handleTransactionResponse"
      on-error="handleUserError">
    </iron-ajax>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <brum-global-variable key="accountData" value="{{storedAccount}}"></brum-global-variable>

    <app-location route="{{route}}"
          data="{{routeData}}"></app-location>

    <div class="card">

      <paper-input-container always-float-label>
        <label slot="label">Número de cuenta</label>
        <iron-input slot="input" bind-value="{{accountNumber::input}}">
          <input class="input-style" id="accountNumber" type="text" value="[[storedAccount.accountNumber]]" placeholder="">
        </iron-input>
      </paper-input-container>

      <paper-dropdown-menu label="Tipo de movimiento" name="type">
        <paper-listbox id="type" slot="dropdown-content" class="dropdown-content" attr-for-selected="value" selected="{{type}}">
          <paper-item value="Abono">Abono</paper-item>
          <paper-item value="Nómina">Nómina</paper-item>
          <paper-item value="Transferencia">Transferencia</paper-item>
          <paper-item value="Otro">Otro</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-input-container always-float-label>
        <label slot="label">Descripción</label>
        <iron-input slot="input" bind-value="{{description::input}}">
          <input class="input-style" id="description" type="text" value="{{description::input}}" placeholder="">
        </iron-input>
      </paper-input-container>

      <paper-input-container always-float-label>
        <label slot="label">Importe</label>
        <iron-input slot="label" bind-value="{{amount::input}}">
          <input class="input-style" id="amount" type="text" value="{{amount::input}}" placeholder="">
        </iron-input>
      </paper-input-container>


      <div class="wrapper-btns">
        <paper-button raised class="primary" on-click="createTransaction">Aceptar</paper-button>
        <paper-button raised class="primary" on-click="cancelTransaction">Cancelar</paper-button>
      </div>


    </div>
  </template>

  <script>
    class NewTransaction extends Polymer.Element {
      static get is() { return 'new-transaction'; }
      static get properties() {
          return {
              formData: {
                  type: Object,
                  value: {}
              },
              storedUser: Object,
              storedAccount: Object,
              error: String
          }
      }
      createTransaction() {
          console.log("createTransaction - Init");
          var newTransaction = {
            "accountId" : this.storedAccount.accountId,
            "description" : this.description,
            "amount": this.amount,
            "type": this.type
          };
          this.$.CreateTransactionAjax.url = 'http://localhost:3000/apitechu/v1/transactions';
          JSON.stringify(newTransaction)
          this.$.CreateTransactionAjax.body = JSON.stringify(newTransaction);
          this.$.CreateTransactionAjax.generateRequest();
          console.log("createTransaction - End");
      }
      cancelTransaction(){
        console.log("cancelTransaction - Init.");
        this.set('route.path', '/financial-dashboard');
        // reset form data
        this.description = null;
        this.amount = null;
        this.type = null;
        console.log("cancelTransaction - End.")
      }
      handleTransactionResponse(event) {
          console.log("handleTransactionResponse - Init.");
          console.log(event.detail.response);
          this.set('routeData.date', new Date());
          this.set('route.path', '/financial-dashboard/'+new Date());
          // reset form data
          this.description = null;
          this.amount = null;
          this.type = null;
          console.log("handleTransactionResponse - End.")
      }
      handleUserError(event) {
          this.error = event.detail.request.xhr.response;
      }
    }

    window.customElements.define(NewTransaction.is, NewTransaction);
  </script>
</dom-module>
