
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">

<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">


<!--
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
-->
<link rel="import" href="shared-styles.html">

<dom-module id="new-account">
  <template>
  <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }
    .wrapper-btns {
      margin-top: 15px;
    }
    paper-button.link {
      color: #757575;
    }
    .alert-error {
      background: #ffcdd2;
      border: 1px solid #f44336;
      border-radius: 3px;
      color: #333;
      font-size: 14px;
      padding: 10px;
    }
    input {
      position: relative; /* to make a stacking context */
      outline: none;
      box-shadow: none;
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 100%;
      background: transparent;
      border: none;
      color: var(--paper-input-container-input-color, var(--primary-text-color));
      -webkit-appearance: none;
      text-align: inherit;
      vertical-align: bottom;
      /* Firefox sets a min-width on the input, which can cause layout issues */
      min-width: 0;
      @apply --paper-font-subhead;
      @apply --paper-input-container-input;
    }
  </style>


    <iron-ajax
      id="CreateAccountAjax"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="handleTransactionResponse"
      on-error="handleUserError">
    </iron-ajax>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">

      <paper-dropdown-menu label="Tipo de cuenta" name="type">
        <paper-listbox id="type" slot="dropdown-content" class="dropdown-content" attr-for-selected="value" selected="{{type}}">
          <paper-item value="CUENTA PERSONAL">CUENTA PERSONAL</paper-item>
          <paper-item value="CUENTA DE CRÉDITO">CUENTA DE CRÉDITO</paper-item>
          <paper-item value="CUENTA META">CUENTA META</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-input-container always-float-label>
        <label slot="label">Descripción</label>
        <iron-input slot="input" bind-value="{{description::input}}">
          <input class="input-style" id="description" type="text" value="{{description::input}}" placeholder="">
        </iron-input>
      </paper-input-container>

      <div class="wrapper-btns">
        <paper-button raised class="primary" on-click="createAccount">Aceptar</paper-button>
        <paper-button raised class="primary" on-click="cancelAccount">Cancelar</paper-button>
      </div>

    </div>
  </template>

  <script>
    class NewAccount extends Polymer.Element {
      static get is() { return 'new-account'; }
      createAccount() {
          console.log("createAccount - Init");
          var newAccount = {
            "customerId" : this.storedUser.customerId,
            "description" : this.description,
            "type": this.type
          };
          this.$.CreateAccountAjax.url = 'http://localhost:3000/apitechu/v1/accounts';
          JSON.stringify(newAccount)
          this.$.CreateAccountAjax.body = JSON.stringify(newAccount);
          this.$.CreateAccountAjax.generateRequest();
          console.log("createTransaction - End");
      }
      cancelAccount(){
        console.log("cancelAccount - Init.");
        this.set('route.path', '/financial-dashboard');
        // reset form data
        this.description = null;
        this.type = null;
        console.log("cancelAccount - End.")
      }
      handleTransactionResponse(event) {
          console.log("handleAccountResponse - Init.");
          console.log(event.detail.response);
          this.set('routeData.date', new Date());
          this.set('route.path', '/financial-dashboard/'+new Date());
          // reset form data
          this.description = null;
          this.type = null;
          console.log("handleAccountResponse - End.")
      }
      handleUserError(event) {
          this.error = event.detail.request.xhr.response;
      }
    }

    window.customElements.define(NewAccount.is, NewAccount);
  </script>
</dom-module>
