<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/google-map/google-map-marker.html">
<link rel="import" href="../bower_components/geo-location/geo-location.html">

<dom-module id="new-customer">
  <template>
  <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }
    .wrapper-btns {
      margin-top: 15px;
    }
    paper-button.link {
      color: #757575;
    }
    .alert-error {
      background: #ffcdd2;
      border: 1px solid #f44336;
      border-radius: 3px;
      color: #333;
      font-size: 14px;
      padding: 10px;
    }
    input {
      position: relative; /* to make a stacking context */
      outline: none;
      box-shadow: none;
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 100%;
      background: transparent;
      border: none;
      color: var(--paper-input-container-input-color, var(--primary-text-color));
      -webkit-appearance: none;
      text-align: inherit;
      vertical-align: bottom;
      /* Firefox sets a min-width on the input, which can cause layout issues */
      min-width: 0;
      @apply --paper-font-subhead;
      @apply --paper-input-container-input;
    }
    google-map {
      height: 400px;
    }
  </style>

    <iron-ajax
      id="CreateCustomerAjax"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="handleCustomerResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-ajax
      id="CreateAccountAjax"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="handleAccountResponse"
      on-error="handleUserError">
    </iron-ajax>


    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">

      <paper-input-container always-float-label>
        <label slot="label">Nombre</label>
        <iron-input slot="input" bind-value="{{customerName::input}}">
          <input class="input-style" id="customerName" type="text" value="{{customerName::input}}" placeholder="">
        </iron-input>
      </paper-input-container>

      <paper-input-container always-float-label>
        <label slot="label">Apellidos</label>
        <iron-input slot="label" bind-value="{{surname::input}}">
          <input class="input-style" id="surname" type="text" value="{{surname::input}}" placeholder="">
        </iron-input>
      </paper-input-container>

      <paper-dropdown-menu label="Tipo de documento" name="type">
        <paper-listbox id="type" slot="dropdown-content" class="dropdown-content" attr-for-selected="value" selected="{{documentType}}">
          <paper-item value="NIF">NIF</paper-item>
          <paper-item value="Pasaporte">Pasaporte</paper-item>
          <paper-item value="Tarj. Residencia">Tarj. Residencia</paper-item>
          <paper-item value="Otro">Otro</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>


      <paper-input-container always-float-label>
        <label slot="label">Nº Documento</label>
        <iron-input slot="input" bind-value="{{documentId::input}}">
          <input class="input-style" id="documentId" type="text" value="{{documentId::input}}" placeholder="">
        </iron-input>
      </paper-input-container>

      <paper-input-container always-float-label>
        <label slot="label">Email</label>
        <iron-input slot="input" bind-value="{{email::input}}">
          <input class="input-style" id="email" type="text" value="{{email::input}}" placeholder="">
        </iron-input>
      </paper-input-container>

      <paper-input-container always-float-label>
        <label slot="label">Usuario</label>
        <iron-input slot="input" bind-value="{{userId::input}}">
          <input class="input-style" id="userId" type="text" value="{{userId::input}}" placeholder="">
        </iron-input>
      </paper-input-container>

      <paper-input-container always-float-label>
        <label slot="label">Clave de acceso</label>
        <iron-input slot="input" bind-value="{{password::input}}">
          <input id="password" type="password" value="{{password::input}}" placeholder="">
        </iron-input>
      </paper-input-container>

      <paper-input-container always-float-label>
        <label slot="label">Alias de la cuenta (opciona)</label>
        <iron-input slot="input" bind-value="{{accountDescription::input}}">
          <input class="input-style" id="accountDescription" type="text" value="{{accountDescription::input}}" placeholder="">
        </iron-input>
      </paper-input-container>


      <div class="wrapper-btns">
        <paper-button raised class="primary" on-click="createCustomer">Alta de cliente</paper-button>
        <paper-button raised class="primary" on-click="cancelCustomer">Cancelar</paper-button>
      </div>

      <div>
        <br></br>
      </div>

      <geo-location watch-pos high-accuracy latitude="{{latitude}}" longitude="{{longitude}}"></geo-location>

      <google-map latitude="[[latitude]]" longitude="[[longitude]]" api-key="AIzaSyBCfySbXF2Fo4GHFoVdXLIAEabpSeTr9jY">
        <google-map-marker slot="markers" latitude="[[latitude]]" longitude="[[longitude]]"></google-map-marker>
      </google-map>

    </div>
  </template>

  <script>
    class NewCustomer extends Polymer.Element {
      static get is() { return 'new-customer'; }
      createCustomer() {
          console.log("createCustomer - Init");
          console.log("Coordenates: [" + this.latitude +","+ this.longitude+"]" );
          var newCustomer = {
            "userId" : this.userId,
            "password" : this.password,
            "name": this.customerName,
            "surname": this.surname,
            "email": this.email,
            "documentId": this.documentId,
            "documentType": this.documentType,
            "birthDate": this.birhDate,
            "longitude": this.longitude,
            "latitude": this.latitude
          };
          this.$.CreateCustomerAjax.url = 'http://localhost:3000/apitechu/v1/customers';
          JSON.stringify(newCustomer)
          this.$.CreateCustomerAjax.body = JSON.stringify(newCustomer);
          this.$.CreateCustomerAjax.generateRequest();
          console.log("createCustomer - End");
      }
      cancelCustomer(){
        console.log("cancelCustomer - Init.");
        this.set('route.path', '/register-login');
        // reset form data
        this.userId = null;
        this.password = null;
        this.customerName = "";
        this.surname = null;
        this.email = null;
        this.documentId = null;
        this.documentType = null;
        this.birhDate = null;
        this.longitude = null;
        this.latitude = null;
        console.log("cancelCustomer - End.")
      }
      handleCustomerResponse(event) {
          console.log("handleLoginResponse - Init.");
          console.log(event.detail.response);
          //var response = JSON.parse(event.detail.response);
          var response = event.detail.response;
          var customerId = response.customerId;
          console.log("customerId" + customerId);
          if (response.customerId) {
             this.error = '';
             this.storedUser = {
                  customerId: customerId,
                  userId: this.userId,
                  loggedin: true
               };
            var newAccount = {
              "type": "CUENTA PERSONAL",
              "description": this.accountDescription,
              "customerId":customerId
            };
            this.$.CreateAccountAjax.url = 'http://localhost:3000/apitechu/v1/accounts';
            JSON.stringify(newAccount)
            this.$.CreateAccountAjax.body = JSON.stringify(newAccount);
            this.$.CreateAccountAjax.generateRequest();
          } else {
            this.set('route.path', '/register-login');
          }
          // reset form data
          this.userId = null;
          this.password = null;
          this.customerName = "";
          this.surname = null;
          this.email = null;
          this.documentId = null;
          this.documentType = null;
          this.birhDate = null;
          this.longitude = null;
          this.latitude = null;
          console.log("handleLoginResponse - End.")
      }
      handleAccountResponse(event) {
          console.log("handleAccountResponse - Init.");
          console.log(event.detail.response);
          this.set('route.path', '/financial-dashboard');
          // reset form data
          this.formData = {};
          console.log("handleAccountResponse - End.")
      }
      handleUserError(event) {
          this.error = event.detail.request.xhr.response;
      }

    }

    window.customElements.define(NewCustomer.is, NewCustomer);
  </script>
</dom-module>
