<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<!--
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
-->
<link rel="import" href="shared-styles.html">

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax
      id="registerLoginAjax"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

<!--
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
-->
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>Entra en tu banco TechU Bank</h1>

        <p><strong>Introduce tu usuario y clave de acceso</strong></p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container  always-float-label>
          <label slot="label">Usuario</label>
          <iron-input slot="input" bind-value="{{userId::input}}">
            <input class="input-style" id="userId" type="text" value="{{userId::input}}" placeholder="">
          </iron-input>
        </paper-input-container>

        <paper-input-container  always-float-label>
          <label slot="label">Clave de acceso</label>
          <iron-input slot="input" bind-value="{{password::input}}">
            <input id="password" type="password" value="{{password::input}}" placeholder="">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-click="postLogin">Entrar</paper-button>
          <a href="/new-password">¿Olvidaste la clave de acceso?</a>
        </div>
      </div>

      <div>
        <p>¿Todavía no eres cliente? <a href="/new-customer">Hazte cliente</a></p>
<!--        <log-out stored-user="{{storedUser}}"></log-out> -->
      </div>

    </div>
  </template>

  <script>
      class RegisterLogin extends Polymer.Element {

          static get is() { return 'register-login'; }
          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: Object,
                  error: String
              }
          }
          postLogin() {
              console.log("postLogin - Init");
              console.log("userId: " + this.userId);
              console.log("password: " + this.password);
              var loginData = {
                "userId" : this.userId,
                "password" : this.password
              };
              this.$.registerLoginAjax.url = 'http://localhost:3000/apitechu/v1/login';
              JSON.stringify(loginData)
              this.$.registerLoginAjax.body = JSON.stringify(loginData);
              this.$.registerLoginAjax.generateRequest();
              console.log("postLogin - End");
          }
          handleUserResponse(event) {
              console.log("handleLoginResponse - Init.");
              console.log(event.detail.response);
              //var response = JSON.parse(event.detail.response);
              var response = event.detail.response;
              var customerId = response.customerId;
              console.log("customerId" + customerId);
              if (response.customerId) {
                   this.error = '';
                   this.storedUser = {
                        customerId: customerId,
                        userId: this.userId,
                //       name: this.formData.username,
                //       id_token: response.id_token,
                //       access_token: response.access_token,
                       loggedin: Boolean(true)
                   };
                  // redirect to Secret Quotes
                  this.set('route.path', '/financial-dashboard');
              }
              // reset form data
              this.formData = {};
              console.log("handleLoginResponse - End.")
          }
          handleUserError(event) {
              this.error = event.detail.request.xhr.response;
          }
      }
      window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
