<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      .wrapper-btns {
        margin-top: 15px;
      }

      paper-button {
            font-family: 'Roboto', 'Noto', sans-serif;
            font-weight: normal;
            color: #fff;
            background-color: var(--app-primary-color);
            -webkit-font-smoothing: antialiased;
      }

      paper-button.link {
        color: #757575;
      }
    </style>
  </template>
</dom-module>
