<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.js">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">



<link rel="import" href="shared-styles.html">

<dom-module id="transaction-dashboard">
  <template>
  <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }
    .wrapper-btns {
      margin-top: 15px;
    }
    paper-button.link {
      color: #757575;
    }

    </style>



    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <brum-global-variable key="accountData" value="{{storedAccount}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <iron-ajax
      auto
      id="getTransactionsByAccountId"
      method="get"
      url="http://localhost:3000/apitechu/v1/transactions/{{storedAccount.accountId}}"
      handle-as="json"
      last-response="{{ajaxResponse}}">
    </iron-ajax>

    <template is="dom-repeat" items="[[ajaxResponse]]" as="transaction">
      <div class="card">
        <table>
          <tr>
            <td align="left" style="width:200px">
              <p><strong>{{formatDate(transaction.transactionDate)}}</strong></p>
            </td>
            <td align="left" style="width:400px">
              <h1>{{transaction.description}}</h1>
              <p>{{transaction.type}}</p>
            </td>
            <td align="right" style="width:150px">
              <template is="dom-if" if="{{isPositive(transaction.amount)}}">
                <h1 style="color:blue;">{{formatMoney(transaction.amount)}} €</h1>
              </template>
              <template is="dom-if" if="{{!isPositive(transaction.amount)}}">
                <h1 style="color:red;">{{formatMoney(transaction.amount)}} €</h1>
              </template>
            </td>

            <td align="right" style="width:150px">
              <template is="dom-if" if="{{isPositive(transaction.balance)}}">
                <h1 style="color:blue;">{{formatMoney(transaction.balance)}} €</h1>
              </template>
              <template is="dom-if" if="{{!isPositive(transaction.balance)}}">
                <h1 style="color:red;">{{formatMoney(transaction.balance)}} €</h1>
              </template>
            </td>

          </tr>
        </table>
      </div>

    </template>

    <paper-button raised class="primary" on-click="cancel">Volver</paper-button>

  </template>

  <script>
    class TransactionDashboard extends Polymer.Element {
      static get is() { return 'transaction-dashboard'; }
      static get properties() {
          return {
              formData: {
                  type: Object,
                  value: {}
              },
              storedUser: Object,
              storedAccount: Object,
              error: String
          }
      }
      static get observers() {
          return [
              "_onRouteChanged(route.*)",
              "_onDataChanged(routeData.*)",
          ];
      }
      _onDataChanged(newValue) {
          console.log("Data page changed: " + JSON.stringify(newValue));
      }
      _onRouteChanged(newValue) {
          //console.log("Route page changed: " + JSON.stringify(newValue));
          this.$.getTransactionsByAccountId.generateRequest();
      }
      cancel(){
        console.log("cancel - Init.");
        this.set('route.path', '/financial-dashboard');
        // reset form data
        this.formData = {};
        console.log("cancel - End.")
      }
      formatDate(transactionDate){
        return transactionDate.substring(0,10);
      }
      isPositive(amount){
        var positive = true;
        if (amount<0){
          positive = false;
        }
        return Boolean(positive);
      }
      formatMoney(amount, decimalCount = 2, decimal = ",", thousands = ".") {
        try {
          decimalCount = Math.abs(decimalCount);
          decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

          const negativeSign = amount < 0 ? "-" : "";

          let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
          let j = (i.length > 3) ? i.length % 3 : 0;

          return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
        } catch (e) {
          console.log(e)
        }
      };
    }

    window.customElements.define(TransactionDashboard.is, TransactionDashboard);
  </script>
</dom-module>
