<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="wellcome-app">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <br></br>
      <br></br>
      <br></br>
      <h1 style="text-align:center;">Buenvenidos a Demo Banco TechU!</h1>
      <p style="text-align:center;">Aplicación en Polymer 2.0 y Node.js</p>
      <p style="text-align:center;">Desarrollada por Sonia Herrera Hernández</p>
      <p style="text-align:center;">Febrero 2019</p>
      <br></br>
      <br></br>
      <br></br>

    </div>
  </template>

  <script>
    class WellcomeApp extends Polymer.Element {
      static get is() { return 'wellcome-app'; }
    }

    window.customElements.define(WellcomeApp.is, WellcomeApp);
  </script>
</dom-module>
